# SPDX-FileCopyrightText: 2025 RTE (https://www.rte-france.com)
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
# SPDX-License-Identifier: MPL-2.0

# This workflow will install Python dependencies, run tests and lint with multiple versions of Python and OS.

name: Build project

on: [pull_request]

jobs:
  Lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v5

      - name: Install uv and Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"
          python-version: 3.11.13

      - name: Install dependencies
        run: uv sync --group lint

      - name: Check code style
        run: uv run ruff format --check

      - name: Lint with ruff
        run: uv run ruff check

  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [ "3.9", "3.10", "3.11", "3.12" ]

    steps:
    - uses: actions/checkout@v5

    - name: Install uv and Set up Python
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.15"
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: uv sync --group test

    - name: Run tests on ${{ matrix.os }} with Python ${{ matrix.python-version }}
      run: uv run pytest

  Build:
    runs-on: ubuntu-latest
    name: Build
    needs:
      - Lint
      - Test
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"
          python-version: 3.11

      - name: Install dependencies
        run: |
          uv sync --group dev

      - name: Build
        run: uv build
      

